#root-container {
    width: 1200px;
    margin: 0 auto;
    background-color: ghostwhite;
    font-family: ubuntu;
    color: rgb(51, 51, 51)
}

h1 {
    margin: 30px 0;
    border-bottom: 2px solid;
    padding: 0 0 5px 0;
}

ul.resource-list {
    margin: 0 30px;
    height: 125px;
    padding: 0;
}

li.resource-item{
    display: inline-block;
    margin: 0 10px;
    height: inherit;
    list-style: none;
}

li.resource-item :hover {
    background-color: lightgrey;
}

div.resource-outer {
    padding: 20px 16px 4px;
    width: 100px;
    height: inherit;
    border-radius: 10px;
}

div.resource-inner {
    height:inherit;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

div.tile {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

p.tile-name {
    display:block;
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 16px;
}

img.icon {
    width: inherit;
    height: inherit;
}
