---
---
<html>
    <head>
        <title>McGill Robotics AUV Hub</title>
    </head>
    <body>
        <h1>McGill Robotics Team-Wide Links</h1>
        <TilesGrid 
            resources={this.state.roboticsResources}/>

        <h1>AUV Links</h1>
        <SubteamSection 
            header={"Electrical"}
            resources={this.state.electricalResources}/>
        <SubteamSection 
            header={"Mechanical"}
            resources={this.state.mechanicalResources}/>
        <SubteamSection 
            header={"Software"}
            resources={this.state.softwareResources}/>
    </body>
</html>
