---
import TileGrid from "../components/TileGrid.astro";
import SubteamSection from "../components/SubteamSection.astro";

const slack = {
    link: "https://mcgillrobotic-yls5523.slack.com", 
    img: "images/slack.svg", 
    name: "Slack"
};
const discord = {
    link: "https://discord.com/invite/AsSAgmF", 
    img: "images/discord.svg", 
    name: "Discord"
};
const googleDrive = {
    link: "https://drive.google.com/drive/folders/1wDJOnjOgQZvMwjBrjoc_9NI9UvKVL5Md", 
    img: "images/google-drive.svg", 
    name: "Google Drive"
};
const github = {
    link: "https://github.com/mcgill-robotics", 
    img: "images/github.svg", 
    name: "Github"
};
const trello = {
    link: "https://trello.com/b/gnqxyA6i/auv", 
    img: "images/trello.svg", 
    name: "Trello"
};
const kiCAD = {
    link: "https://www.kicad.org/", 
    img: "images/kicad.svg", 
    name: "KiCAD"
};
const freeCAD = {
    link: "https://www.freecadweb.org/", 
    img: "images/freecad.svg", 
    name: "FreeCAD"
};

const roboticsResources = [slack, discord, googleDrive];
const electricalResources = [kiCAD];
const mechanicalResources = [freeCAD];
const softwareResources = [github, trello];
---

<html>
    <head>
        <title>McGill Robotics AUV Hub</title>
    </head>
    <body>
        <h1>McGill Robotics Team-Wide Links</h1>
        <TileGrid tiles={roboticsResources}/>

        <h1>AUV Links</h1>
        <SubteamSection 
            name={"Electrical"}
            resources={electricalResources}/>
        <SubteamSection 
            name={"Mechanical"}
            resources={mechanicalResources}/>
        <SubteamSection 
            name={"Software"}
            resources={softwareResources}/>
    </body>
</html>
