---
import { getLanguageFromURL, KNOWN_LANGUAGE_CODES } from '../../languages';
import * as CONFIG from '../../config';
import McgillRoboticsLogo from './McgillRoboticsLogo.astro';
import SkipToContent from './SkipToContent.astro';
import SidebarToggle from './SidebarToggle';
import LanguageSelect from './LanguageSelect';
import Search from './Search';

const { currentPage } = Astro.props;
const lang = currentPage && getLanguageFromURL(currentPage);
---

<header>
	<SkipToContent />
	<nav class="nav-wrapper" title="Top Navigation">
		<div class="menu-toggle">
			<SidebarToggle client:idle />
		</div>
		<div class="logo flex">
			<a href="/">
				<McgillRoboticsLogo size={5} />
				<h1>{CONFIG.SITE.title ?? "Documentation"}</h1>
			</a>
		</div>
		<div style="flex-grow: 0;"></div>
		{KNOWN_LANGUAGE_CODES.length > 1 && <LanguageSelect lang={lang} client:idle />}
		<!-- {CONFIG.ALGOLIA && (
			<div class="search-item">
				<Search client:idle />
			</div>
		)} -->
	</nav>
</header>

<style>
	header {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		position: sticky;
		width: 100%;
		font-size: 1rem;
		
		height: var(--theme-navbar-height);
		background-color: var(--theme-navbar-bg);

		z-index: 1; 
		/* stack order of an element. Z-Index with a greater value to an HTML element relative to another HTML 
		element will place the first element on top if they overlap. */
	}	

	.logo {
		flex: 1;
		display: flex;
		overflow: hidden;
		flex-shrink: 2;
		line-height: 0;
		color: hsla(var(--color-base-white), 100%, 1);
		z-index: 0;
	}

	.logo a {
		display: flex;
		padding: 1em 0.5em;
		font-weight: bold;
		color: var(--theme-text);
	}

	.logo a {
		transition: color 1000ms ease-out;
		color: var(--theme-text);
	}

	.logo a:hover,
	.logo a:focus {
		color: var(--theme-text-accent);
	}

	.logo h1 {
		/* display: none; */
		visibility: hidden;
		margin-left: 2rem;
	}

	.nav-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1em;
		width: 100%;
		max-width: 100%;
		padding: 2rem 2rem;
	}
	
	@media (min-width: 50em) {
		header {
			position: relative;
			padding: 3rem 0rem;
			font-size: 1rem;
		}
		.logo {
			margin: 0;
			z-index: 0;
			font-size: 1rem;
		}
		.logo h1 {
			/* display: initial; */
			visibility: inherit;
		}
		.menu-toggle {
			display: none;
		}
	}



	/** Style Algolia*/
	:root {
		--docsearch-primary-color: var(--theme-accent);
		--docsearch-logo-color: var(--theme-text);
	}

	.search-item {
		display: none;
		position: relative;
		z-index: 10;
		flex-grow: 1;
		padding-right: 0.7rem;
		display: flex;
		max-width: 200px;
	}
	:global(.search-item > *) {
		flex-grow: 1;
	}
	@media (min-width: 50em) {
		.search-item {
			max-width: 400px;
		}
	}
</style>
