---
import TileGrid from "./TileGrid.astro";

const {name, resources} = Astro.props;
---
<div> 
    <h2>{name}</h2>
    <TileGrid tiles={resources}/>
</div>

<style>
    div {
        width: 1200px;
        margin: 0 auto;
        font-family: "Ubuntu", "Noto Sans";
    }

    h1 {
        margin: 30px 0;
        border-bottom: 2px solid;
        padding: 0 0 5px 0;
    }
</style>
