---
import Tile from "./Tile.astro";

const {tiles} = Astro.props;
---
<ul> 
    {tiles.map(tile =>
        <li> 
            <Tile
                link={tile.link}
                img={tile.img}
                name={tile.name}/>
        </li>
    )}
</ul>

<style>
    ul {
        display: flex;
        margin: 0 30px;
        height: 175px;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
        height: inherit;
        width: 125px;
        list-style: none;
    }
</style>
